API_INTERNAL_URL=http://localhost:13004
NEXT_PUBLIC_API_URL=http://localhost:13003
JWT_SECRET=dev-secret-change-me
WEB_PUBLIC_URL=http://localhost:13003
COOKIE_SECURE=false
NEXT_PUBLIC_SUPPORT_EMAIL=halo@bliyo.id
NEXT_PUBLIC_SUPPORT_WHATSAPP=6281234567890
NEXT_PUBLIC_SOCIAL_INSTAGRAM=https://www.instagram.com/
NEXT_PUBLIC_SOCIAL_TIKTOK=https://www.tiktok.com/
NEXT_PUBLIC_SOCIAL_YOUTUBE=https://www.youtube.com/
